* {
  /* color: #ececec; */
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  
} 

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevents scrollbars */
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
}

/* Dark mode */
.app.dark, .chatWindow.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Light mode */
.app.light, .chatWindow.light {
  background-color: #ffffff;
  color: #000000;
}
